@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/modern';

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";

[data-theme='modern'] {
	--radius-base: 9999rem;
	--radius-container: 1.5rem;
	--heading-font-weight: bolder;
	--default-ring-width: 3px;
	--default-divide-width: 3px;
	--font-sans: 'Quicksand', 'sans-serif';
}

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));
